<a href="https://colab.research.google.com/github/harshavardhanbatsala/Project3/blob/main/Hazard_risk_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
train_file=r'https://raw.githubusercontent.com/harshavardhanbatsala/Project3/main/Hazard_train.csv'
test_file=r'https://raw.githubusercontent.com/harshavardhanbatsala/Project3/main/Hazard_test_share.csv'

cd_train=pd.read_csv(train_file)
cd_test=pd.read_csv(test_file)

In [3]:
cd_train

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,...,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15
0,83642,2,10,23,4,N,K,Y,B,D,...,2,37,1,11,2,Y,N,E,2,1
1,92530,6,3,18,2,B,H,N,B,B,...,2,34,1,12,7,Y,N,C,3,3
2,86131,4,5,20,4,B,K,N,B,B,...,1,40,1,17,4,Y,N,D,1,1
3,88666,1,4,7,5,N,H,N,B,B,...,2,37,1,11,6,Y,N,D,2,1
4,11122,21,10,21,6,N,C,Y,B,C,...,2,40,1,6,6,N,N,D,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40794,88951,1,10,4,3,N,C,N,D,B,...,2,34,1,16,5,Y,N,C,4,2
40795,60262,4,6,7,1,B,A,Y,B,B,...,2,22,1,1,6,Y,N,E,4,1
40796,13464,4,5,7,5,C,A,N,B,B,...,1,37,1,3,4,Y,Y,E,1,5
40797,70407,1,1,9,2,C,K,N,B,B,...,3,22,1,21,4,Y,N,D,1,1
40798,47488,1,2,9,6,C,K,N,B,B,...,2,22,1,12,6,Y,Y,E,2,1

In [4]:
cd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40799 entries, 0 to 40798
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      40799 non-null  int64
 1   Hazard  40799 non-null  int64
 2   T1_V1   40799 non-null  int64
 3   T1_V2   40799 non-null  int64
 4   T1_V3   40799 non-null  int64
 5   T1_V4   40799 non-null  object
 6   T1_V5   40799 non-null  object
 7   T1_V6   40799 non-null  object
 8   T1_V7   40799 non-null  object
 9   T1_V8   40799 non-null  object
 10  T1_V9   40799 non-null  object
 11  T1_V10  40799 non-null  int64
 12  T1_V11  40799 non-null  object
 13  T1_V12  40799 non-null  object
 14  T1_V13  40799 non-null  int64
 15  T1_V14  40799 non-null  int64
 16  T1_V15  40799 non-null  object
 17  T1_V16  40799 non-null  object
 18  T1_V17  40799 non-null  object
 19  T2_V1   40799 non-null  int64
 20  T2_V2   40799 non-null  int64
 21  T2_V3   40799 non-null  object
 22  T2_V4   40799 non-null  int64
 23  T2_V5   40799 non-null  object
 24  T2_V6   40799 non-null  int64
 25  T2_V7   40799 non-null  int64
 26  T2_V8   40799 non-null  int64
 27  T2_V9   40799 non-null  int64
 28  T2_V10  40799 non-null  int64
 29  T2_V11  40799 non-null  object
 30  T2_V12  40799 non-null  object
 31  T2_V13  40799 non-null  object
 32  T2_V14  40799 non-null  int64
 33  T2_V15  40799 non-null  int64
dtypes: int64(18), object(16)
memory usage: 10.6+ MB

In [5]:
cd_train.nunique()

Id        40799
Hazard       49
T1_V1        19
T1_V2        24
T1_V3         9
T1_V4         8
T1_V5        10
T1_V6         2
T1_V7         4
T1_V8         4
T1_V9         6
T1_V10        5
T1_V11       12
T1_V12        4
T1_V13        4
T1_V14        5
T1_V15        8
T1_V16       18
T1_V17        2
T2_V1       100
T2_V2        39
T2_V3         2
T2_V4        22
T2_V5         6
T2_V6         7
T2_V7         7
T2_V8         3
T2_V9        25
T2_V10        7
T2_V11        2
T2_V12        2
T2_V13        5
T2_V14        7
T2_V15       12
dtype: int64

In [6]:
cd_test.head()

,Id,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,T1_V9,...,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15
0,67943,9,18,2,N,B,Y,B,C,D,...,2,34,1,14,4,Y,N,E,3,3
1,38287,12,20,5,N,C,Y,D,B,D,...,1,40,1,9,3,Y,N,E,1,1
2,51951,14,18,1,N,K,Y,B,D,E,...,2,25,1,1,4,Y,N,E,2,1
3,40476,19,16,1,W,H,Y,B,B,D,...,2,25,1,1,7,Y,N,D,2,11
4,101190,12,21,2,B,K,Y,B,B,E,...,2,22,1,20,6,Y,N,C,2,1

In [7]:
cd_train.isnull().sum()

Id        0
Hazard    0
T1_V1     0
T1_V2     0
T1_V3     0
T1_V4     0
T1_V5     0
T1_V6     0
T1_V7     0
T1_V8     0
T1_V9     0
T1_V10    0
T1_V11    0
T1_V12    0
T1_V13    0
T1_V14    0
T1_V15    0
T1_V16    0
T1_V17    0
T2_V1     0
T2_V2     0
T2_V3     0
T2_V4     0
T2_V5     0
T2_V6     0
T2_V7     0
T2_V8     0
T2_V9     0
T2_V10    0
T2_V11    0
T2_V12    0
T2_V13    0
T2_V14    0
T2_V15    0
dtype: int64

In [10]:
cd_train.describe()

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V10,T1_V13,T1_V14,T2_V1,T2_V2,T2_V4,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V14,T2_V15
count,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000,40799.000000
mean,50850.454276,4.009584,9.723645,12.849359,3.190691,7.025123,14.009902,1.582416,57.568641,12.410451,10.251403,1.947499,33.504620,1.031349,12.496973,4.489963,2.448344,3.482512
std,29282.641037,4.007785,5.170715,6.257502,1.742044,3.596619,4.649012,0.865121,23.461468,4.785406,4.845443,0.795249,5.830512,0.191676,7.313552,1.899386,1.257293,3.070911
min,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,5.000000,0.000000,1.000000,1.000000,1.000000,1.000000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25596.500000,1.000000,6.000000,7.000000,2.000000,3.000000,10.000000,1.000000,40.000000,9.000000,6.000000,2.000000,31.000000,1.000000,6.000000,3.000000,2.000000,1.000000
50%,50784.000000,3.000000,9.000000,14.000000,3.000000,8.000000,15.000000,1.000000,55.000000,11.000000,10.000000,2.000000,34.000000,1.000000,14.000000,4.000000,2.000000,2.000000
75%,76198.500000,5.000000,14.000000,18.000000,4.000000,12.000000,20.000000,2.000000,77.000000,15.000000,14.000000,2.000000,40.000000,1.000000,18.000000,6.000000,3.000000,5.000000
max,101999.000000,69.000000,19.000000,24.000000,9.000000,12.000000,20.000000,4.000000,100.000000,39.000000,22.000000,7.000000,40.000000,3.000000,25.000000,7.000000,7.000000,12.000000

In [13]:
cd_train.shape

(40799, 34)

In [15]:
cd_test.shape

(10200, 33)

In [16]:
cd_train.columns

Index(['Id', 'Hazard', 'T1_V1', 'T1_V2', 'T1_V3', 'T1_V4', 'T1_V5', 'T1_V6',
       'T1_V7', 'T1_V8', 'T1_V9', 'T1_V10', 'T1_V11', 'T1_V12', 'T1_V13',
       'T1_V14', 'T1_V15', 'T1_V16', 'T1_V17', 'T2_V1', 'T2_V2', 'T2_V3',
       'T2_V4', 'T2_V5', 'T2_V6', 'T2_V7', 'T2_V8', 'T2_V9', 'T2_V10',
       'T2_V11', 'T2_V12', 'T2_V13', 'T2_V14', 'T2_V15'],
      dtype='object')

In [17]:
cd_test.columns

Index(['Id', 'T1_V1', 'T1_V2', 'T1_V3', 'T1_V4', 'T1_V5', 'T1_V6', 'T1_V7',
       'T1_V8', 'T1_V9', 'T1_V10', 'T1_V11', 'T1_V12', 'T1_V13', 'T1_V14',
       'T1_V15', 'T1_V16', 'T1_V17', 'T2_V1', 'T2_V2', 'T2_V3', 'T2_V4',
       'T2_V5', 'T2_V6', 'T2_V7', 'T2_V8', 'T2_V9', 'T2_V10', 'T2_V11',
       'T2_V12', 'T2_V13', 'T2_V14', 'T2_V15'],
      dtype='object')

In [18]:
cd_test['Hazard']=np.nan

In [19]:
cd_train['data']='train'
cd_test['data']='test'

In [20]:
cd_test=cd_test[cd_train.columns]

In [22]:
cd_all=pd.concat([cd_train,cd_test],axis=0)

In [23]:
cd_all.shape

(50999, 35)

In [24]:
cd_all.dtypes

Id          int64
Hazard    float64
T1_V1       int64
T1_V2       int64
T1_V3       int64
T1_V4      object
T1_V5      object
T1_V6      object
T1_V7      object
T1_V8      object
T1_V9      object
T1_V10      int64
T1_V11     object
T1_V12     object
T1_V13      int64
T1_V14      int64
T1_V15     object
T1_V16     object
T1_V17     object
T2_V1       int64
T2_V2       int64
T2_V3      object
T2_V4       int64
T2_V5      object
T2_V6       int64
T2_V7       int64
T2_V8       int64
T2_V9       int64
T2_V10      int64
T2_V11     object
T2_V12     object
T2_V13     object
T2_V14      int64
T2_V15      int64
data       object
dtype: object

In [26]:
cd_all.describe()

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V10,T1_V13,T1_V14,T2_V1,T2_V2,T2_V4,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V14,T2_V15
count,50999.000000,40799.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000,50999.000000
mean,50929.727897,4.009584,9.722093,12.847585,3.186004,7.020451,13.996255,1.578521,57.580051,12.419616,10.259495,1.948215,33.487755,1.032236,12.493029,4.496520,2.451126,3.484480
std,29314.685894,4.007785,5.167943,6.255743,1.739369,3.595279,4.647499,0.862882,23.499818,4.783411,4.852008,0.800117,5.834038,0.195893,7.314788,1.896717,1.260074,3.076745
min,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,5.000000,0.000000,1.000000,1.000000,1.000000,1.000000,22.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25660.500000,1.000000,6.000000,7.000000,2.000000,3.000000,10.000000,1.000000,40.000000,9.000000,6.000000,2.000000,31.000000,1.000000,6.000000,3.000000,2.000000,1.000000
50%,50977.000000,3.000000,9.000000,14.000000,3.000000,8.000000,15.000000,1.000000,56.000000,11.000000,10.000000,2.000000,34.000000,1.000000,14.000000,4.000000,2.000000,2.000000
75%,76268.500000,5.000000,14.000000,18.000000,4.000000,8.000000,20.000000,2.000000,77.000000,15.000000,14.000000,2.000000,40.000000,1.000000,18.000000,6.000000,3.000000,5.000000
max,101999.000000,69.000000,19.000000,24.000000,9.000000,12.000000,20.000000,4.000000,100.000000,39.000000,22.000000,7.000000,40.000000,3.000000,25.000000,7.000000,7.000000,12.000000

In [27]:
cd_all.isnull().sum()

Id            0
Hazard    10200
T1_V1         0
T1_V2         0
T1_V3         0
T1_V4         0
T1_V5         0
T1_V6         0
T1_V7         0
T1_V8         0
T1_V9         0
T1_V10        0
T1_V11        0
T1_V12        0
T1_V13        0
T1_V14        0
T1_V15        0
T1_V16        0
T1_V17        0
T2_V1         0
T2_V2         0
T2_V3         0
T2_V4         0
T2_V5         0
T2_V6         0
T2_V7         0
T2_V8         0
T2_V9         0
T2_V10        0
T2_V11        0
T2_V12        0
T2_V13        0
T2_V14        0
T2_V15        0
data          0
dtype: int64

In [28]:
cd_all.drop(['Id'],axis=1,inplace=True)

In [32]:
cat_cols=cd_all.select_dtypes(['object']).columns

In [33]:
print(cat_cols)

Index(['T1_V4', 'T1_V5', 'T1_V6', 'T1_V7', 'T1_V8', 'T1_V9', 'T1_V11',
       'T1_V12', 'T1_V15', 'T1_V16', 'T1_V17', 'T2_V3', 'T2_V5', 'T2_V11',
       'T2_V12', 'T2_V13', 'data'],
      dtype='object')

In [35]:
cat_cols=cat_cols[:-1]

In [36]:
for col in cat_cols:
  print('_____',col,'_____')
  print(cd_all[col].nunique())
  print(cd_all[col].unique())
  print(cd_all[col].value_counts())

_____ T1_V4 _____
8
['N' 'B' 'C' 'W' 'E' 'S' 'G' 'H']
N    25112
B    12502
C     4869
W     3480
E     2702
S     1051
G      669
H      614
Name: T1_V4, dtype: int64
_____ T1_V5 _____
10
['K' 'H' 'C' 'I' 'A' 'B' 'D' 'J' 'E' 'L']
K    14138
A    10900
H    10137
C     7845
I     4297
B     3335
J      188
D      149
E        5
L        5
Name: T1_V5, dtype: int64
_____ T1_V6 _____
2
['Y' 'N']
N    28550
Y    22449
Name: T1_V6, dtype: int64
_____ T1_V7 _____
4
['B' 'D' 'A' 'C']
B    47982
D     2126
A      546
C      345
Name: T1_V7, dtype: int64
_____ T1_V8 _____
4
['D' 'B' 'C' 'A']
B    46391
D     2028
C     1547
A     1033
Name: T1_V8, dtype: int64
_____ T1_V9 _____
6
['E' 'D' 'B' 'F' 'G' 'C']
D    23859
E    21491
B     2748
F     2432
C      251
G      218
Name: T1_V9, dtype: int64
_____ T1_V11 _____
12
['H' 'L' 'B' 'N' 'A' 'E' 'J' 'I' 'F' 'K' 'M' 'D']
B    17047
H    15381
L     7003
J     6197
A     1556
I     1364
F      544
M      541
E      450
N      419
D      258
K      239
Name: T1_V11, dtype: int64
_____ T1_V12 _____
4
['B' 'A' 'C' 'D']
B    46900
D     1574
C     1395
A     1130
Name: T1_V12, dtype: int64
_____ T1_V15 _____
8
['A' 'C' 'N' 'W' 'H' 'D' 'S' 'F']
A    45680
N     1879
C     1652
D      758
H      524
W      230
S      191
F       85
Name: T1_V15, dtype: int64
_____ T1_V16 _____
18
['K' 'B' 'I' 'R' 'D' 'A' 'M' 'J' 'O' 'E' 'Q' 'L' 'H' 'N' 'C' 'G' 'P' 'F']
I    9331
B    8933
R    8339
K    8159
A    2705
E    2599
J    2410
N    2277
D    1397
M    1264
C     808
L     729
G     484
P     459
H     408
Q     358
F     187
O     152
Name: T1_V16, dtype: int64
_____ T1_V17 _____
2
['N' 'Y']
N    41183
Y     9816
Name: T1_V17, dtype: int64
_____ T2_V3 _____
2
['N' 'Y']
N    34548
Y    16451
Name: T2_V3, dtype: int64
_____ T2_V5 _____
6
['C' 'A' 'B' 'E' 'D' 'F']
A    33845
B    11201
C     5013
D      515
E      412
F       13
Name: T2_V5, dtype: int64
_____ T2_V11 _____
2
['Y' 'N']
Y    36940
N    14059
Name: T2_V11, dtype: int64
_____ T2_V12 _____
2
['N' 'Y']
N    41703
Y     9296
Name: T2_V12, dtype: int64
_____ T2_V13 _____
5
['E' 'C' 'D' 'A' 'B']
E    27634
A    10260
C     7507
D     5084
B      514
Name: T2_V13, dtype: int64