<a href="https://colab.research.google.com/github/harshavardhanbatsala/Project3/blob/main/Hazard_risk_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
train_file=r'/content/Hazard_train.csv'
test_file=r'/content/Hazard_test_share.csv'

cd_train=pd.read_csv(train_file)
cd_test=pd.read_csv(test_file)

In [3]:
cd_train

,Id,Hazard,T1_V1,T1_V2,T1_V3,T1_V4,T1_V5,T1_V6,T1_V7,T1_V8,...,T2_V6,T2_V7,T2_V8,T2_V9,T2_V10,T2_V11,T2_V12,T2_V13,T2_V14,T2_V15
0,83642,2,10,23,4,N,K,Y,B,D,...,2,37,1,11,2,Y,N,E,2,1
1,92530,6,3,18,2,B,H,N,B,B,...,2,34,1,12,7,Y,N,C,3,3
2,86131,4,5,20,4,B,K,N,B,B,...,1,40,1,17,4,Y,N,D,1,1
3,88666,1,4,7,5,N,H,N,B,B,...,2,37,1,11,6,Y,N,D,2,1
4,11122,21,10,21,6,N,C,Y,B,C,...,2,40,1,6,6,N,N,D,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40794,88951,1,10,4,3,N,C,N,D,B,...,2,34,1,16,5,Y,N,C,4,2
40795,60262,4,6,7,1,B,A,Y,B,B,...,2,22,1,1,6,Y,N,E,4,1
40796,13464,4,5,7,5,C,A,N,B,B,...,1,37,1,3,4,Y,Y,E,1,5
40797,70407,1,1,9,2,C,K,N,B,B,...,3,22,1,21,4,Y,N,D,1,1
40798,47488,1,2,9,6,C,K,N,B,B,...,2,22,1,12,6,Y,Y,E,2,1

In [4]:
cd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40799 entries, 0 to 40798
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      40799 non-null  int64
 1   Hazard  40799 non-null  int64
 2   T1_V1   40799 non-null  int64
 3   T1_V2   40799 non-null  int64
 4   T1_V3   40799 non-null  int64
 5   T1_V4   40799 non-null  object
 6   T1_V5   40799 non-null  object
 7   T1_V6   40799 non-null  object
 8   T1_V7   40799 non-null  object
 9   T1_V8   40799 non-null  object
 10  T1_V9   40799 non-null  object
 11  T1_V10  40799 non-null  int64
 12  T1_V11  40799 non-null  object
 13  T1_V12  40799 non-null  object
 14  T1_V13  40799 non-null  int64
 15  T1_V14  40799 non-null  int64
 16  T1_V15  40799 non-null  object
 17  T1_V16  40799 non-null  object
 18  T1_V17  40799 non-null  object
 19  T2_V1   40799 non-null  int64
 20  T2_V2   40799 non-null  int64
 21  T2_V3   40799 non-null  object
 22  T2_V4   40799 non-null  int64
 23  T2_V5   40799 non-null  object
 24  T2_V6   40799 non-null  int64
 25  T2_V7   40799 non-null  int64
 26  T2_V8   40799 non-null  int64
 27  T2_V9   40799 non-null  int64
 28  T2_V10  40799 non-null  int64
 29  T2_V11  40799 non-null  object
 30  T2_V12  40799 non-null  object
 31  T2_V13  40799 non-null  object
 32  T2_V14  40799 non-null  int64
 33  T2_V15  40799 non-null  int64
dtypes: int64(18), object(16)
memory usage: 10.6+ MB

In [5]:
cd_train.nunique()

Id        40799
Hazard       49
T1_V1        19
T1_V2        24
T1_V3         9
T1_V4         8
T1_V5        10
T1_V6         2
T1_V7         4
T1_V8         4
T1_V9         6
T1_V10        5
T1_V11       12
T1_V12        4
T1_V13        4
T1_V14        5
T1_V15        8
T1_V16       18
T1_V17        2
T2_V1       100
T2_V2        39
T2_V3         2
T2_V4        22
T2_V5         6
T2_V6         7
T2_V7         7
T2_V8         3
T2_V9        25
T2_V10        7
T2_V11        2
T2_V12        2
T2_V13        5
T2_V14        7
T2_V15       12
dtype: int64

In [ ]:
cd_test.head()

In [ ]:
cd_train.isnull().sum()

In [11]:
cd_train['T2_V4'].nunique(value_counts=True)

TypeError: ignored